@model IEnumerable<test_prep_2_midterm.Models.Expo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Model == null)
{
    <p> no list </p>
}
else
{<p>
        @Html.ActionLink("Create New", "Make", "Make_expo")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expo_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Used)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Expo_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Used)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Expo_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Expo_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Expo_ID })
                </td>
            </tr>
        }


    </table>    }

