@model IEnumerable<Midterm.Models.Movie_Info>

@{
    ViewBag.Title = "Index";
}
<style>
    .btn {
        color: dodgerblue;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Media_code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Media_code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Movie_code  }, new { @class = "btn btn-default" }) 
        </td>
    </tr>
}

</table>
