@model IEnumerable<MidtermReview1.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Team_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Team_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  code=item.Team_code }) |
            @Html.ActionLink("Delete", "Delete", new {  code=item.Team_code })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Home Page","Index","Home")
